* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monserrat', sans-serif;
}

.abrir,
.cerrar {
    display: none;
}

.preheader {
    background-color: rgba(0, 0, 139, 0.842);
}

.preheader ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.preheader ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 5px;
    height: 6rem;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-dos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    background-color: #dadada;
    margin-top: .1rem;
    color: rgb(51, 51, 51);
    letter-spacing: .5rem;
}

.header-dos img {
    max-width: 8rem;
    padding: 1rem;
}

.carrusel {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carrusel img {
    width: 120px;
    height: auto;
    object-fit: cover;
}

main {
    max-width: 80rem;
    box-shadow: 0 0 10px;
    border-radius: 15px;
    margin: 8rem auto 2rem;
    padding: 2rem;
    margin-top: 1rem;
}

.logo {
    max-width: 15rem;
}

.logo-mobile {
    display: none;
}

.nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ea1f25;
    padding: 0.5rem;
}

.nav ul li a:hover {
    cursor: pointer;
    background-color: #ea1f25;
    color: white;
    padding: .5rem;
    border-radius: 10px;
}


h1 {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    color: rgb(51, 51, 51)
}

h2 {
    font-size: 3rem;
    color: rgb(22, 22, 22);
}

p {
    padding-top: 5rem;
    font-size: 2rem;
    text-align: justify;
    color: rgb(22, 22, 22);
}

.mejores-marcas {
    display: flex;
    padding: 3rem;
    gap: 3rem;
}

.mujer {
    max-width: 30rem;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}

.estoes {
    display: flex;
    margin-left: 10rem;
}

span {
    color: #ea1f25;
}

.parrafo {
    text-align: justify;
    justify-content: center;
    padding: 2rem;
    font-size: 1.3rem;
}

.iconos {
    display: flex;
    gap: 2rem;
}

.iconos img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    opacity: 0.7;
}

.logos {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
    margin-left: 10px;
}

.logos img {
    max-width: 100px;
    opacity: 0.9;
}

.texto {
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 10rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.texto h3 {
    color: rgb(22, 22, 22);
    letter-spacing: 3px;
}

.buje {
    margin-left: 1rem;
    margin-right: 6rem;
}

.manguera {
    margin-left: 8rem;
    margin-right: 1rem;
}

.soporte {
    margin-right: 10rem;
    margin-left: 12rem;
}

.imagen-footer {
    display: flex;
    height: 7rem;
    justify-content: center;
    background-color: #dfdfdf;
    align-items: center;
    text-align: center;
}

.imagen-footer img {
    max-width: 20rem;
}

.foot {
    display: flex;
    padding: 4rem;
    gap: 6rem;
    background-color: #d4d4d4;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-left h3 {
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
    font-weight: lighter;
    color: rgb(31, 31, 31);
}

.suscribe {
    border: none;
    padding: .5rem;
    border-radius: 10px;
    background-color: rgb(14, 14, 126);
    color: white;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.suscribe:hover {
    background-color: rgb(75, 75, 233);
    transform: scale(1.1);
}

.input {
    border: none;
    padding: .5rem;
    border-radius: 10px;
}

.newsletter {
    display: flex;
    gap: .5rem;
}

.logo-rs {
    display: flex;
    gap: 3rem;
}

.logo-rs a i {
    font-size: 2rem;
    color: #040279;
}

.logo-rs a:hover {
    transform: scale(1.1);
}

.copy {
    margin-top: 3rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: rgb(31, 31, 31);
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-right ul {
    display: flex;
    gap: 3rem;
}

.footer-right ul li {
    list-style: none;
}

.footer-right ul a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.footer-right ul li:hover {
    transform: scale(1.1);
}

.map-container iframe {
    border-radius: 20px;
    box-shadow: 0 0 10px;
    border: 0;
}

.wsp-flota {
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    height: 80px;
    width: auto;
    right: 20px;
    display: flex;
    background-color: transparent;
}

.wsp-flota img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {

    .preheader {
        display: none;
    }

    .abrir {
        display: flex;
    }
    .cerrar{
        display: flex;
    }
    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        max-width: 3.5rem;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        text-align: end;
        background-color: #0c0a94;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
     .nav {
        display: none;
    }
     .nav.activo{
        display: flex;
    }

    .nav ul{
        flex-direction: column;
        color: white;
        bottom: 0;
        gap: 3rem;
    }
    .nav ul li a{
        color: white;
    }
    .cerrar{
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 1rem;
    }
    .cerrar:hover{
        transform: scale(1.3);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    .abrir{
        border: 0;
        background-color: transparent;
        color: #000000;
        font-size: 1.7rem;
    }
    .abrir:hover{
        transform: scale(1.3);
        cursor: pointer;
        transition: all 0.5s ease;
    }
}